<div class="article">
    <div class="article-title">About EOBS</div>
    <hr>
    <p>This site was inspired by circumstances I encountered while exploring far away from civilized space. I needed to find certain "very rare" materials for a resupply. Since few stars and planets were cataloged nearby, it was quite a long distance to the nearest catalogued planet known contain the materials I needed according to sites like <a href="eddb.io">EDDB</a>. As a result, I searched for a reference answering definitively "which stars and which planet types should I be trying to explore in order to increase my chances of finding a good supply of the material I'm looking for." This site was born precisely to do that and answer many other questions not currently answered which can be gleaned from the eddn network's journal data.</p>
    <div class="section-right">
        <div class="article-section-title">Methodology</div>
        <hr>
        <p>
            Data for this site was recorded from the <a href="https://github.com/EDSM-NET/EDDN/wiki">Elite Dangerous Data Network".</a> The data for scans of celestial objects is collected live and stored in a MongoDb. 
        </p>
    </div>
</div>

{{outlet}}