<div class="article">
    <div class="article-title">About EOBS</div>
    <div class="section-right">
        <div class="article-section-title">Why?</div>
        <hr>
        <p>This site was inspired by circumstances I encountered while exploring far away from civilized space. I needed to find certain "very rare" materials for a resupply. Since few stars and planets were cataloged nearby, it was quite a long distance to the nearest catalogued planet known to contain the materials I needed according to sites like <a href="eddb.io">EDDB</a>. As a result, I searched for a reference answering definitively "which stars and which planet types should I be trying to explore in order to increase my chances of finding a good supply of the material I'm looking for." This site was born precisely to do that and answer many other questions not currently answered which can be gleaned from the eddn network's journal data.</p>
    </div>
    <div class="section-right">
        <div class="article-section-title">Data Collection And Aggregation Methodology</div>
        <hr>
        <p>
            Data for this site was recorded from the <a href="https://github.com/EDSM-NET/EDDN/wiki">Elite Dangerous Data Network</a> feed. The data for scans of celestial objects is collected live and stored in a MongoDb instance. The data is then aggregated using nodejs and mongoDbs data aggregation framework. The dataset currently consists of {{starCount}} stars and {{bodyCount}} orbital bodies.
        </p>
        <p>Aggregation Process Details:</p>
        <ul>
            <li>Star type samples with fewer than 100 total stars of that type are ignored when aggregating the data.</li>
            <li>Certain data may be biased by the Elite Dangerous Exploration Community's tendancy to not scan every object orbiting stars. Low value rare targets like gas giants may be undersampled as a result.</li>

        </ul>
    </div>
</div>

{{outlet}}