<div class="wrapper">
    <div class="site">
        {{#bs-nav type="tabs" as |nav|}}
            {{#nav.item}}
                {{#nav.link-to "materials"}}Elements{{/nav.link-to}}
            {{/nav.item}}
            {{#nav.item}}
                {{#nav.link-to "stars"}}Stars{{/nav.link-to}}
            {{/nav.item}}
            {{#nav.item}}
                {{#nav.link-to "planets"}}Planets{{/nav.link-to}}
            {{/nav.item}}
            {{#nav.item}}
                {{#nav.link-to "explorers"}}Explorers{{/nav.link-to}}
            {{/nav.item}}
            {{#nav.item}}
                {{#nav.link-to "about"}}About{{/nav.link-to}}
            {{/nav.item}}
        {{/bs-nav}}
        {{outlet}}
    </div>
</div>