<div class="article">
    <div class="center article-title">Welcome to The EDDN Explorer Aggregation Service (EDDNE.io)</div>
    <hr>
    <p>This site is about statistics for explorers. Come here to seek information about galactic averages and trends for exploration scans in the Elite Dangerous Universe.</p>
    <p>This site is currently in beta and continues to be under active development. Please consider supporting us via the patreon button below if you like what you see.</p>
    <div class="center"><a href="https://www.patreon.com/bePatron?u=8934485"><img class="patreon-image" src="images/Patreon-Support-Button.png"></a></div>
</div>
{{outlet}}