<div class="article">
<div class="article-title">Elements</div>
<hr>
<div class="section-right">
<div class="chart-title">Liklihood of Element Placement By Planet Type</div>
{{bar-chart data=barMapByMatOccurance}}
<div class="chart-title">Concentration Ranges of Elements By Planet Type</div>
{{bar-chart data=barMapByMatPct}}
</div>
</div>
{{outlet}}