<div class="article">
<div class="chart-title">Liklihood of Finding Materials By Planet Type</div>
<hr>
{{bar-chart data=barMapByMatOccurance}}
<div class="chart-title">Concentration Ranges of Materials By Planet Type</div>
<hr>
{{bar-chart data=barMapByMatPct}}
</div>
{{outlet}}