<div class="article">
    <div class="article-title">Stars</div>
    <div class="section-right">
        <div class="chart-title">Scans</div>
        {{pie-chart data=starScansPie}}
    </div>
</div>
{{outlet}}