<div class="article">
<div class="chart-title">Common Planets By Star Type</div>
{{bar-chart data=commonPlanetTypeMapping}}

<div class="chart-title">Uncommon Planets By Star Type</div>
{{bar-chart data=ucommonPlanetTypeMapping}}
</div>
{{outlet}}